{% block content %}

    <center>
        <h1>DAFTAR MAHASISWA PENDIDIKAN MATEMATIKA</h1>
        <h2>KELAS 3A</h2>
    </center>
    <table border="1">
        <tr>
            <th>No</th>
            <th>NIM</th>
            <th>Nama</th>
            <th>Tempat Tanggal Lahir</th>
            <th>Email</th>
            <th>Fakultas</th>
            <th>Prodi</th>
            <th>Alamat</th>
            <th>Foto</th>
        </tr>

    {% for post in posts %}
    
        <tr>
            <td>{{mahasiswa.nim}}</td>
            <td>{{mahasiswa.nama}}</td>
            <td>{{mahasiswa.ttl}}</td>
            <td>{{mahasiswa.email}}</td>
            <td>{{mahasiswa.fakultas}}</td>
            <td>{{mahasiswa.prodi}}</td>
            <td>{{mahasiswa.alamat}}</td>
            <td>{{mahasiswa.foto}}</td>
        </tr>
        {% endfor %}
    
    </table>


{% endblock %}