{% extends 'base.html' %}

{% block content %}

<center>
    <h2>DAFTAR MAHASISWA PENDIDIKAN MATEMATIKA</h2>
    <h2>KELAS 3A</h2>
</center>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>
                Data mahasiswa
                <a href="{% url 'tambah_mahasiswa' %}">Add</a>
            </h4>

            {% for message in messages %}
            {% if message %}
                <div class="alert alert-success">{{ message }}</div>
            {% endif %}
            {% endfor %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>NIM</th>
                        <th>NAMA</th>
                        <th>TTL</th>
                        <th>EMAIL</th>
                        <th>FAKULTAS</th>
                        <th>PRODI</th>
                        <th>ALAMAT</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <body>
                    {% for mahasiswa in student %}
                    <tr>
                        <td>{{ mahasiswa.nim }}</td>
                        <td><a href="/mahasiswa/ubah/{{ mahasiswa.id }}">{{ mahasiswa.nama }}</a></td>
                        <td>{{ mahasiswa.ttl }}</td>
                        <td>{{ mahasiswa.email }}</td>
                        <td>{{ mahasiswa.fakultas }}</td>
                        <td>{{ mahasiswa.prodi }}</td>
                        <td>{{ mahasiswa.alamat }}</td>
                        <td>
                            <a href="/mahasiswa/hapus/{{ mahasiswa.id }}" class="btn btn-danger">Delete</a>
                        </td>       
                    </tr>
                    {% endfor %}
                </body>
            </table>
        </div>
    </div>
</div>

{% endblock %}