{% extends 'base.html' %} 

{% block content %}

    <center>
        <h1>FAKULTAS HUKUM</h1>
        <img src="\static\img\gambar_fh.png" height="200px">
        <h4 style="background-color: rgba(135, 30, 30, 0.568) ;">Sejarah</h4>
    <p style="font-family: 'segoe ui'">Fakultas Hukum Universitas Sultan Ageng Tirtayasa berdiri tahun 1981, tepatnya pada tanggal 1 Oktober 1981 dengan status sebagai STIH Serang yang bertempat di Kresidenan Banten, Jl. K.H. Sam’un dan merupakan embrio lahirnya Universitas Sultan Ageng Tirtayasa Banten. Mulai tahun 1984, STIH Serang di integrasi sesuai dengan SK Mendikbud No. 0596/0/1984, menjadi Fakultas Hukum Universitas Sultan Ageng Tirtayasa yang bertempat di Jl. Raya Jakarta KM. 4 Pakupatan – Serang.</p>
    <h4 style="background-color: rgba(118, 59, 119, 0.43);">Program Studi</h4>

    </center>
    
    <h2>Daftar Prodi:</h2>
    
    {% for judul in title %} 
    <li>{{ judul }}</li>

    <style>
        body {
          background-image: linear-gradient(to right,#AFEEEE, #FFFFF0);
        }
        </style>   
    {% endfor %}


{% endblock %}