{% extends 'base.html' %} 

{% block content %}

    <center>
        <h1>PROFIL MAHASISWA</h1>
    </center>
    
    <h2>Nama : Alfina Fitri Maulida</h2>
    <h2>NIM  : 2225210005</h2>
    <h2>Kelas : 3A</h2>
    <h2>Prodi : Pendidikan Matematika</h2>
    <h2>Fakultas : Fakultas Keguruan dan Ilmu Pendidikan</h2>
    <h2>Instansi : Unversitas Sultan Ageng Tirtayasa</h2>
    <h2>Angkatan : 2021</h2>
    <h2>Mata Kuliah : Teknologi Informasi dan Komunikasi Untuk Pembelajaran</h2>



{% endblock %}